In [39]:
#This is a thrilling notebook.
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [78]:
df = pd.read_csv('./resource_files/BusOnTimePerformance_2020.csv')
df

,ServiceDateTime,Route,RouteName,EarlyDeparture,OnTime,LateArrival,Missing,TimePointCount,OTP,AverageDwellTime
0,2/12/18,2,BLANCO,83,626,87,82,796,78.64,103.97
1,2/12/18,3,SAN PEDRO SKIP,5,518,78,11,601,86.19,167.29
2,2/12/18,4,SAN PEDRO Frequent,21,454,109,130,584,77.74,78.31
3,2/12/18,5,McCULLOUGH,7,403,30,10,440,91.59,211.44
4,2/12/18,6,US-281 Express,1,54,22,11,77,70.13,163.19
...,...,...,...,...,...,...,...,...,...,...
107314,5/4/20,647,North Star / Harry Wurzbach,9,142,3,1,154,92.21,320.40
107315,5/4/20,648,North Star / Stone Oak,18,186,13,11,217,85.71,126.91
107316,5/4/20,651,Deco District / Castle Hills,5,78,10,3,93,83.87,118.63
107317,5/4/20,660,NW Vista College / University P&R,3,76,0,16,79,96.20,200.24
107318,5/4/20,672,TAMUSA / Madla Transit Center,20,156,8,16,184,84.78,159.27

In [79]:
df1 = pd.read_csv('./resource_files/Adherence_2020.csv')
df1

,ServiceDate,Routes,Block,RouteDirectionName,StopNumber,Location,Latitude,Longitude,ScheduledTime(S),ScheduledTime(HHMMSS),ArrivalTime(S),ArrivalTime(HHMMSS),DepartureTime(S),DepartureTime(HHMMSS),Odometer,VehicleNumber
0,9/11/2019,34,002-001,NORTH,GARA,GARAGE,295074900.0,-985896372.0,0,3:53:00,13213.0,3:40:13,13701.0,3:48:21,0.15,533.0
1,9/11/2019,34,002-001,NORTH,99166,HEB PLUS,293787108.0,-984597411.0,14940,4:09:00,NaN,NaN,NaN,NaN,NaN,533.0
2,9/11/2019,34,002-001,NORTH,82589,EADS & ROOSEVELT,293833683.0,-984832058.0,15540,4:19:00,NaN,NaN,NaN,NaN,NaN,533.0
3,9/11/2019,34,002-001,NORTH,11726,S ST. MARY'S & ALAMO,294154578.0,-984893939.0,16020,4:27:00,16081.0,4:28:01,16094.0,4:28:14,10.85,533.0
4,9/11/2019,34,002-001,NORTH,99396,NAVARRO OPPOSITE VILLITA,294226255.0,-984904073.0,16200,4:30:00,16281.0,4:31:21,16281.0,4:31:21,11.28,533.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358323,9/20/2019,534,900-001,NORTH,GARA,GARAGE,295074900.0,-985896372.0,16200,4:30:00,15343.0,4:15:43,15343.0,4:15:43,18.90,523.0
358324,9/20/2019,552,900-002,EAST,GARA,GARAGE,295074900.0,-985896372.0,13200,3:40:00,12523.0,3:28:43,13093.0,3:38:13,0.16,524.0
358325,9/20/2019,552,900-002,EAST,98023,INGRAM TRANSIT CENTER,294650896.0,-986255481.0,14400,4:00:00,NaN,NaN,NaN,NaN,NaN,524.0
358326,9/20/2019,552,900-002,EAST,32179,CROSSROADS PARK & RIDE,294937896.0,-985487250.0,15000,4:10:00,15054.0,4:10:54,15080.0,4:11:20,17.85,524.0
358327,9/20/2019,552,900-002,EAST,GARA,GARAGE,295074900.0,-985896372.0,15720,4:22:00,15623.0,4:20:23,15623.0,4:20:23,23.59,524.0

In [80]:
df2 = pd.read_csv('./resource_files/Logged_Messages.csv')
df2

,dDate,Local_Timestamp,Latitude,Longitude,MESSAGE_TYPE_TEXT,ADHERENCE,Odometer,VehicleNumber,degLat,degLong
0,2/14/2020,2/14/20 6:56 AM,29.44451,-98.50143,vehicle location,0,0.00,102,NaN,NaN
1,2/14/2020,2/14/20 6:56 AM,29.44452,-98.50142,vehicle location,0,0.00,102,NaN,NaN
2,2/14/2020,2/14/20 6:57 AM,29.44452,-98.50142,vehicle location,0,0.00,102,NaN,NaN
3,2/14/2020,2/14/20 6:57 AM,29.44452,-98.50142,vehicle location,0,0.00,102,NaN,NaN
4,2/14/2020,2/14/20 6:58 AM,29.44452,-98.50142,vehicle location,0,0.00,102,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
155512,2/14/2020,2/14/20 7:32 AM,29.44432,-98.50035,vehicle location,0,655.35,WTT-0093,NaN,NaN
155513,2/14/2020,2/14/20 7:34 AM,29.44432,-98.50034,vehicle location,0,655.35,WTT-0093,NaN,NaN
155514,2/14/2020,2/14/20 7:36 AM,29.44432,-98.50034,vehicle location,0,655.35,WTT-0093,NaN,NaN
155515,2/14/2020,2/14/20 7:38 AM,29.44432,-98.50034,vehicle location,0,655.35,WTT-0093,NaN,NaN
155516,2/14/2020,2/14/20 7:40 AM,29.44432,-98.50034,vehicle location,0,655.35,WTT-0093,NaN,NaN

In [81]:
df3 = pd.read_csv('./resource_files/TotalServiceMiles_2020.csv')
df3

,Route,RouteName,Class,ServiceType,ScheduledMiles,AVLRevenueMiles,AVLDeadHeadMiles,AVLExemptMiles,AVLMilesAdjustments,ServiceDate
0,2,2-BLANCO RD.,Major Radial,SUNDAY,924.35,886.97,46.91,0.0,26.0,1/1/2019
1,3,3-SAN PEDRO SKIP,Major Limited,SUNDAY,707.88,683.66,19.57,0.0,0.0,1/1/2019
2,4,4-SAN PEDRO,Major Radial,SUNDAY,731.48,692.08,34.76,0.0,0.0,1/1/2019
3,5,5-MC CULLOUGH,Major Radial,SUNDAY,484.17,457.37,22.12,0.0,0.0,1/1/2019
4,6,6-US 281 Express,Major Express,SUNDAY,0.00,0.00,0.00,0.0,0.0,1/1/2019
...,...,...,...,...,...,...,...,...,...,...
63617,7352,735 - Northside Stadium,Other Special Event,SUNDAY,0.00,0.00,0.00,0.0,0.0,5/3/2020
63618,7353,735 - Northside Stadium / Alamodome,Dome Special Event,SUNDAY,0.00,0.00,0.00,0.0,0.0,5/3/2020
63619,7502,750 - Shuttle,Other Special Event,SUNDAY,0.00,0.00,0.00,0.0,0.0,5/3/2020
63620,7503,750 Downtown Shuttle / Alamodome,Dome Special Event,SUNDAY,0.00,0.00,0.00,0.0,0.0,5/3/2020
63621,7512,751-SHUTTLE / ST. PHILLIPS,Other Special Event,SUNDAY,0.00,0.00,0.00,0.0,0.0,5/3/2020