In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_json('../resource_files/census_data/acs5_B02001_Race.json')
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B02001_009E,B02001_010E,state,county,tract,block group
1,659,631,0,0,0,0,28,0,0,0,48,029,180503,1
2,1942,1694,59,0,0,0,115,74,35,39,48,029,180503,2
3,1676,1265,210,0,0,0,142,59,59,0,48,029,170401,3
4,730,600,32,0,0,0,57,41,41,0,48,029,170401,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,1220,540,133,0,9,0,529,9,9,0,48,029,191900,2
1081,1076,685,171,0,0,0,210,10,0,10,48,029,191900,5
1082,1348,1190,91,0,0,0,16,51,51,0,48,029,192000,3
1083,1085,991,9,0,28,0,42,15,8,7,48,029,192100,1
1084,976,796,37,9,5,0,98,31,0,31,48,029,192200,2

In [3]:
df.columns = df.iloc[0] #Create header from first row

In [4]:
df = df[1:] #Get rid of first row

In [5]:
df.head()

,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B02001_009E,B02001_010E,state,county,tract,block group
1,659,631,0,0,0,0,28,0,0,0,48,029,180503,1
2,1942,1694,59,0,0,0,115,74,35,39,48,029,180503,2
3,1676,1265,210,0,0,0,142,59,59,0,48,029,170401,3
4,730,600,32,0,0,0,57,41,41,0,48,029,170401,2
5,2612,2308,21,0,91,0,21,171,18,153,48,029,191406,1

In [6]:
df.dtypes # current data types

0
B02001_001E    object
B02001_002E    object
B02001_003E    object
B02001_004E    object
B02001_005E    object
B02001_006E    object
B02001_007E    object
B02001_008E    object
B02001_009E    object
B02001_010E    object
state          object
county         object
tract          object
block group    object
dtype: object

In [7]:
df['block_group'] = df.state.map(str) + df.county.map(str) + df.tract.map(str) + df['block group'].map(str)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
df.head()

,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B02001_009E,B02001_010E,state,county,tract,block group,block_group
1,659,631,0,0,0,0,28,0,0,0,48,029,180503,1,480291805031
2,1942,1694,59,0,0,0,115,74,35,39,48,029,180503,2,480291805032
3,1676,1265,210,0,0,0,142,59,59,0,48,029,170401,3,480291704013
4,730,600,32,0,0,0,57,41,41,0,48,029,170401,2,480291704012
5,2612,2308,21,0,91,0,21,171,18,153,48,029,191406,1,480291914061

In [9]:
df.astype('float').dtypes #Convert all attributes to integers

0
B02001_001E    float64
B02001_002E    float64
B02001_003E    float64
B02001_004E    float64
B02001_005E    float64
B02001_006E    float64
B02001_007E    float64
B02001_008E    float64
B02001_009E    float64
B02001_010E    float64
state          float64
county         float64
tract          float64
block group    float64
block_group    float64
dtype: object

In [10]:
df=df.drop(columns=['state','county','tract','block group']).set_index('block_group').astype('int32')

In [11]:
df.head()

,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B02001_009E,B02001_010E
block_group,,,,,,,,,,
480291805031,659,631,0,0,0,0,28,0,0,0
480291805032,1942,1694,59,0,0,0,115,74,35,39
480291704013,1676,1265,210,0,0,0,142,59,59,0
480291704012,730,600,32,0,0,0,57,41,41,0
480291914061,2612,2308,21,0,91,0,21,171,18,153

In [12]:
df.describe()

,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B02001_009E,B02001_010E
count,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000
mean,1776.628229,1416.382841,135.334871,12.203875,50.153137,1.898524,103.720480,56.934502,13.858856,43.075646
std,1178.486503,918.993009,223.656042,36.494500,110.324990,12.823716,114.691357,86.114755,28.132476,75.446359
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1026.750000,830.000000,0.000000,0.000000,0.000000,0.000000,18.000000,0.000000,0.000000,0.000000
50%,1456.500000,1201.500000,47.000000,0.000000,6.000000,0.000000,65.500000,28.500000,0.000000,15.000000
75%,2199.000000,1745.750000,168.250000,8.000000,50.000000,0.000000,152.250000,76.000000,17.250000,56.000000
max,10997.000000,8798.000000,1901.000000,387.000000,1556.000000,198.000000,649.000000,793.000000,422.000000,739.000000

In [13]:
def wrangle_acs5(src):
    df1 = pd.read_json('../resource_files/census_data/acs5_B1905x_IncomeTypeByHousehold.json')
    df1.columns = df1.iloc[0]
    df1 = df1[1:]
    df1['block_group'] = df1.state.map(str) + df1.county.map(str) + df1.tract.map(str) + df1['block group'].map(str)
    df1=df1.drop(columns=['state','county','tract','block group']).set_index('block_group').astype('float')
    return df1

In [14]:
df1 = wrangle_acs5('../resource_files/census_data/acs5_B1905x_IncomeTypeByHousehold.json')

In [15]:
df1.head()

,B19051_001E,B19051_002E,B19051_003E,B19052_001E,B19052_002E,B19052_003E,B19055_001E,B19055_002E,B19055_003E,B19056_001E,...,B19056_003E,B19057_001E,B19057_002E,B19057_003E,B19058_001E,B19058_002E,B19058_003E,B19059_001E,B19059_002E,B19059_003E
block_group,,,,,,,,,,,,,,,,,,,,,
480291805031,240.0,203.0,37.0,240.0,203.0,37.0,240.0,69.0,171.0,240.0,...,219.0,240.0,10.0,230.0,240.0,20.0,220.0,240.0,63.0,177.0
480291805032,536.0,422.0,114.0,536.0,422.0,114.0,536.0,117.0,419.0,536.0,...,516.0,536.0,8.0,528.0,536.0,36.0,500.0,536.0,141.0,395.0
480291704013,409.0,272.0,137.0,409.0,272.0,137.0,409.0,152.0,257.0,409.0,...,318.0,409.0,16.0,393.0,409.0,232.0,177.0,409.0,65.0,344.0
480291704012,190.0,120.0,70.0,190.0,120.0,70.0,190.0,67.0,123.0,190.0,...,138.0,190.0,5.0,185.0,190.0,72.0,118.0,190.0,45.0,145.0
480291914061,1133.0,963.0,170.0,1133.0,904.0,229.0,1133.0,340.0,793.0,1133.0,...,1101.0,1133.0,0.0,1133.0,1133.0,0.0,1133.0,1133.0,352.0,781.0

In [16]:
def wrangle_acs5(src):
    df2 = pd.read_json('../resource_files/census_data/acs5_B1905x_IncomeTypeByHousehold.json')
    df2.columns = df2.iloc[0]
    df2 = df2[1:]
    df2['block_group'] = df2.state.map(str) + df2.county.map(str) + df2.tract.map(str) + df2['block group'].map(str)
    df2=df2.drop(columns=['state','county','tract','block group']).set_index('block_group').astype('float')
    return df2

In [17]:
df2 = wrangle_acs5('../resource_files/census_data/acs5_B03002_HispanicOrigin.json')
df2.head()

,B19051_001E,B19051_002E,B19051_003E,B19052_001E,B19052_002E,B19052_003E,B19055_001E,B19055_002E,B19055_003E,B19056_001E,...,B19056_003E,B19057_001E,B19057_002E,B19057_003E,B19058_001E,B19058_002E,B19058_003E,B19059_001E,B19059_002E,B19059_003E
block_group,,,,,,,,,,,,,,,,,,,,,
480291805031,240.0,203.0,37.0,240.0,203.0,37.0,240.0,69.0,171.0,240.0,...,219.0,240.0,10.0,230.0,240.0,20.0,220.0,240.0,63.0,177.0
480291805032,536.0,422.0,114.0,536.0,422.0,114.0,536.0,117.0,419.0,536.0,...,516.0,536.0,8.0,528.0,536.0,36.0,500.0,536.0,141.0,395.0
480291704013,409.0,272.0,137.0,409.0,272.0,137.0,409.0,152.0,257.0,409.0,...,318.0,409.0,16.0,393.0,409.0,232.0,177.0,409.0,65.0,344.0
480291704012,190.0,120.0,70.0,190.0,120.0,70.0,190.0,67.0,123.0,190.0,...,138.0,190.0,5.0,185.0,190.0,72.0,118.0,190.0,45.0,145.0
480291914061,1133.0,963.0,170.0,1133.0,904.0,229.0,1133.0,340.0,793.0,1133.0,...,1101.0,1133.0,0.0,1133.0,1133.0,0.0,1133.0,1133.0,352.0,781.0

In [18]:
def wrangle_acs5(src):
    df3 = pd.read_json('../resource_files/census_data/acs5_B08134_TransportByTravelTime.json')
    df3.columns = df3.iloc[0]
    df3 = df3[1:]
    df3['block_group'] = df3.state.map(str) + df3.county.map(str) + df3.tract.map(str) + df3['block group'].map(str)
    df3=df3.drop(columns=['state','county','tract','block group']).set_index('block_group').astype('float')
    return df3

In [19]:
df3 = wrangle_acs5('../resource_files/census_data/acs5_B03002_HispanicOrigin.json')
df3.head()

,B08134_001E,B08134_002E,B08134_003E,B08134_004E,B08134_005E,B08134_006E,B08134_007E,B08134_008E,B08134_009E,B08134_010E,...,B08134_020E,B08134_071E,B08134_072E,B08134_073E,B08134_074E,B08134_075E,B08134_076E,B08134_077E,B08134_078E,B08134_079E
block_group,,,,,,,,,,,,,,,,,,,,,
480291805031,366.0,22.0,21.0,10.0,113.0,31.0,164.0,0.0,5.0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
480291805032,765.0,79.0,108.0,71.0,211.0,92.0,130.0,74.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
480291704013,416.0,64.0,28.0,0.0,95.0,80.0,72.0,34.0,27.0,16.0,...,0.0,43.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0
480291704012,140.0,7.0,16.0,35.0,17.0,5.0,41.0,0.0,9.0,10.0,...,0.0,30.0,0.0,0.0,0.0,11.0,0.0,0.0,0.0,9.0
480291914061,1211.0,99.0,80.0,311.0,199.0,138.0,196.0,120.0,39.0,29.0,...,19.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
def wrangle_acs5(src):
    df4 = pd.read_json('../resource_files/census_data/acs5_B08134_TransportByTravelTime.json')
    df4.columns = df4.iloc[0]
    df4 = df4[1:]
    df4['block_group'] = df4.state.map(str) + df4.county.map(str) + df4.tract.map(str) + df4['block group'].map(str)
    df4=df4.drop(columns=['state','county','tract','block group']).set_index('block_group').astype('float')
    return df4

In [21]:
df4 = wrangle_acs5('../resource_files/census_data/acs5_B08134_TransportByTravelTime.json')
df4.head()

,B08134_001E,B08134_002E,B08134_003E,B08134_004E,B08134_005E,B08134_006E,B08134_007E,B08134_008E,B08134_009E,B08134_010E,...,B08134_020E,B08134_071E,B08134_072E,B08134_073E,B08134_074E,B08134_075E,B08134_076E,B08134_077E,B08134_078E,B08134_079E
block_group,,,,,,,,,,,,,,,,,,,,,
480291805031,366.0,22.0,21.0,10.0,113.0,31.0,164.0,0.0,5.0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
480291805032,765.0,79.0,108.0,71.0,211.0,92.0,130.0,74.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
480291704013,416.0,64.0,28.0,0.0,95.0,80.0,72.0,34.0,27.0,16.0,...,0.0,43.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0
480291704012,140.0,7.0,16.0,35.0,17.0,5.0,41.0,0.0,9.0,10.0,...,0.0,30.0,0.0,0.0,0.0,11.0,0.0,0.0,0.0,9.0
480291914061,1211.0,99.0,80.0,311.0,199.0,138.0,196.0,120.0,39.0,29.0,...,19.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
def wrangle_acs5(src):
    df5 = pd.read_json('../resource_files/census_data/acs5_B08301_TransportationToWork.json')
    df5.columns = df5.iloc[0]
    df5 = df5[1:]
    df5['block_group'] = df5.state.map(str) + df5.county.map(str) + df5.tract.map(str) + df5['block group'].map(str)
    df5=df5.drop(columns=['state','county','tract','block group']).set_index('block_group').astype('float')
    return df5

In [23]:
df5 = wrangle_acs5('../resource_files/census_data/acs5_B08301_TransportationToWork.json')
df5.head()

,B08301_001E,B08301_002E,B08301_003E,B08301_004E,B08301_011E,B08301_021E
block_group,,,,,,
480291805031,366.0,336.0,294.0,42.0,5.0,0.0
480291805032,777.0,765.0,656.0,109.0,0.0,12.0
480291704013,416.0,332.0,249.0,83.0,43.0,0.0
480291704012,140.0,100.0,83.0,17.0,30.0,0.0
480291914061,1459.0,1189.0,1116.0,73.0,10.0,248.0

In [24]:
def wrangle_acs5(src):
    df6 = pd.read_json('../resource_files/census_data/acs5_B08302_LeaveTimeForWork.json')
    df6.columns = df6.iloc[0]
    df6 = df6[1:]
    df6['block_group'] = df6.state.map(str) + df6.county.map(str) + df6.tract.map(str) + df6['block group'].map(str)
    df6=df6.drop(columns=['state','county','tract','block group']).set_index('block_group').astype('float')
    return df6

In [25]:
df6 = wrangle_acs5('../resource_files/census_data/cs5_B08302_LeaveTimeForWork.json')
df6.head()

,B08302_001E,B08302_002E,B08302_003E,B08302_004E,B08302_005E,B08302_006E,B08302_007E,B08302_008E,B08302_009E,B08302_010E,B08302_011E,B08302_012E,B08302_013E,B08302_014E,B08302_015E
block_group,,,,,,,,,,,,,,,
480291805031,366.0,0.0,0.0,57.0,14.0,37.0,97.0,46.0,37.0,20.0,10.0,0.0,0.0,46.0,2.0
480291805032,765.0,38.0,26.0,175.0,120.0,8.0,79.0,51.0,19.0,24.0,0.0,51.0,35.0,68.0,71.0
480291704013,416.0,18.0,0.0,0.0,59.0,20.0,135.0,16.0,84.0,0.0,41.0,0.0,0.0,34.0,9.0
480291704012,140.0,0.0,0.0,0.0,27.0,11.0,48.0,0.0,0.0,10.0,13.0,0.0,0.0,21.0,10.0
480291914061,1211.0,20.0,38.0,26.0,58.0,98.0,305.0,157.0,87.0,150.0,105.0,57.0,0.0,70.0,40.0

In [26]:
def wrangle_acs5(src):
    df7 = pd.read_json('../resource_files/census_data/acs5_B08303_TravelTimeToWork.json')
    df7.columns = df7.iloc[0]
    df7 = df7[1:]
    df7['block_group'] = df7.state.map(str) + df7.county.map(str) + df7.tract.map(str) + df7['block group'].map(str)
    df7=df7.drop(columns=['state','county','tract','block group']).set_index('block_group').astype('float')
    return df7

In [27]:
df7 = wrangle_acs5('../resource_files/census_data/acs5_B08303_TravelTimeToWork.json')
df7.head()

,B08303_001E,B08303_002E,B08303_003E,B08303_004E,B08303_005E,B08303_006E,B08303_007E,B08303_008E,B08303_009E,B08303_010E,B08303_011E,B08303_012E,B08303_013E
block_group,,,,,,,,,,,,,
480291805031,366.0,0.0,22.0,21.0,10.0,113.0,31.0,164.0,0.0,0.0,5.0,0.0,0.0
480291805032,765.0,0.0,79.0,108.0,71.0,211.0,92.0,130.0,25.0,49.0,0.0,0.0,0.0
480291704013,416.0,19.0,45.0,28.0,0.0,95.0,80.0,72.0,34.0,0.0,27.0,16.0,0.0
480291704012,140.0,0.0,7.0,16.0,35.0,17.0,5.0,41.0,0.0,0.0,9.0,10.0,0.0
480291914061,1211.0,0.0,99.0,80.0,311.0,199.0,138.0,196.0,67.0,53.0,39.0,0.0,29.0

In [28]:
def wrangle_acs5(src):
    df8 = pd.read_json('../resource_files/census_data/acs5_B19001_HouseholdIncome.json')
    df8.columns = df8.iloc[0]
    df8 = df8[1:]
    df8['block_group'] = df8.state.map(str) + df8.county.map(str) + df8.tract.map(str) + df8['block group'].map(str)
    df8=df8.drop(columns=['state','county','tract','block group']).set_index('block_group').astype('float')
    return df8

In [29]:
df8 = wrangle_acs5('../resource_files/census_data/acs5_B19001_HouseholdIncome.json')
df8.head()

,B19001_001E,B19001_002E,B19001_003E,B19001_004E,B19001_005E,B19001_006E,B19001_007E,B19001_008E,B19001_009E,B19001_010E,B19001_011E,B19001_012E,B19001_013E,B19001_014E,B19001_015E,B19001_016E,B19001_017E
block_group,,,,,,,,,,,,,,,,,
480291805031,240.0,10.0,0.0,0.0,8.0,9.0,0.0,20.0,11.0,0.0,40.0,70.0,54.0,10.0,0.0,8.0,0.0
480291805032,536.0,33.0,17.0,31.0,68.0,34.0,0.0,26.0,20.0,11.0,24.0,143.0,77.0,38.0,0.0,14.0,0.0
480291704013,409.0,130.0,46.0,117.0,18.0,0.0,19.0,18.0,14.0,22.0,9.0,0.0,4.0,12.0,0.0,0.0,0.0
480291704012,190.0,57.0,34.0,8.0,20.0,14.0,0.0,0.0,0.0,0.0,19.0,18.0,20.0,0.0,0.0,0.0,0.0
480291914061,1133.0,0.0,0.0,35.0,21.0,111.0,50.0,42.0,11.0,14.0,71.0,46.0,141.0,178.0,120.0,81.0,212.0

In [30]:
def wrangle_acs5(src):
    df9 = pd.read_json('../resource_files/census_data/acs5_B19001_HouseholdIncome.json')
    df9.columns = df9.iloc[0]
    df9 = df9[1:]
    df9['block_group'] = df9.state.map(str) + df9.county.map(str) + df9.tract.map(str) + df9['block group'].map(str)
    df9=df9.drop(columns=['state','county','tract','block group']).set_index('block_group').astype('float')
    return df9

In [31]:
df9 = wrangle_acs5('../resource_files/census_data/acs5_B19001_HouseholdIncome.json')
df9.head()

,B19001_001E,B19001_002E,B19001_003E,B19001_004E,B19001_005E,B19001_006E,B19001_007E,B19001_008E,B19001_009E,B19001_010E,B19001_011E,B19001_012E,B19001_013E,B19001_014E,B19001_015E,B19001_016E,B19001_017E
block_group,,,,,,,,,,,,,,,,,
480291805031,240.0,10.0,0.0,0.0,8.0,9.0,0.0,20.0,11.0,0.0,40.0,70.0,54.0,10.0,0.0,8.0,0.0
480291805032,536.0,33.0,17.0,31.0,68.0,34.0,0.0,26.0,20.0,11.0,24.0,143.0,77.0,38.0,0.0,14.0,0.0
480291704013,409.0,130.0,46.0,117.0,18.0,0.0,19.0,18.0,14.0,22.0,9.0,0.0,4.0,12.0,0.0,0.0,0.0
480291704012,190.0,57.0,34.0,8.0,20.0,14.0,0.0,0.0,0.0,0.0,19.0,18.0,20.0,0.0,0.0,0.0,0.0
480291914061,1133.0,0.0,0.0,35.0,21.0,111.0,50.0,42.0,11.0,14.0,71.0,46.0,141.0,178.0,120.0,81.0,212.0

In [32]:
def wrangle_acs5(src):
    df10 = pd.read_json('../resource_files/census_data/acs5_B19301_PerCapitaIncomeByRace.json')
    df10.columns = df10.iloc[0]
    df10 = df10[1:]
    df10['block_group'] = df10.state.map(str) + df10.county.map(str) + df10.tract.map(str) + df10['block group'].map(str)
    df10=df10.drop(columns=['state','county','tract','block group']).set_index('block_group').astype('float')
    return df10

In [33]:
df10 = wrangle_acs5('../resource_files/census_data/acs5_B19301_PerCapitaIncomeByRace.json')
df10.head()

,B19301_001E,B19301A_001E,B19301B_001E,B19301C_001E,B19301D_001E,B19301E_001E,B19301F_001E,B19301G_001E,B19301H_001E,B19301I_001E
block_group,,,,,,,,,,
480291805031,25951.0,25529.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,NaN,-666666666.0,32030.0,25217.0
480291805032,17094.0,15372.0,50308.0,-666666666.0,-666666666.0,-666666666.0,21174.0,23696.0,15441.0,16123.0
480291704013,6259.0,5728.0,10129.0,-666666666.0,-666666666.0,-666666666.0,4153.0,8919.0,8746.0,5752.0
480291704012,9120.0,7699.0,24963.0,-666666666.0,-666666666.0,-666666666.0,13800.0,11041.0,NaN,8477.0
480291914061,62354.0,64756.0,NaN,-666666666.0,85745.0,-666666666.0,NaN,NaN,81992.0,32800.0

In [34]:
def wrangle_acs5(src):
    df11 = pd.read_json('../resource_files/census_data/acs5_B24080_SexByWorkerClass.json')
    df11.columns = df11.iloc[0]
    df11 = df11[1:]
    df11['block_group'] = df11.state.map(str) + df11.county.map(str) + df11.tract.map(str) + df11['block group'].map(str)
    df11=df11.drop(columns=['state','county','tract','block group']).set_index('block_group').astype('float')
    return df11

In [35]:
df11 = wrangle_acs5('../resource_files/census_data/acs5_B24080_SexByWorkerClass.json')
df11.head()

,B24080_001E,B24080_002E,B24080_003E,B24080_004E,B24080_005E,B24080_006E,B24080_007E,B24080_008E,B24080_009E,B24080_010E,...,B24080_012E,B24080_013E,B24080_014E,B24080_015E,B24080_016E,B24080_017E,B24080_018E,B24080_019E,B24080_020E,B24080_021E
block_group,,,,,,,,,,,,,,,,,,,,,
480291805031,366.0,186.0,113.0,113.0,0.0,22.0,11.0,0.0,40.0,0.0,...,180.0,142.0,142.0,0.0,2.0,0.0,36.0,0.0,0.0,0.0
480291805032,809.0,362.0,302.0,302.0,0.0,18.0,35.0,0.0,0.0,7.0,...,447.0,354.0,354.0,0.0,62.0,9.0,22.0,0.0,0.0,0.0
480291704013,416.0,141.0,126.0,126.0,0.0,15.0,0.0,0.0,0.0,0.0,...,275.0,255.0,255.0,0.0,0.0,8.0,12.0,0.0,0.0,0.0
480291704012,140.0,92.0,67.0,67.0,0.0,17.0,8.0,0.0,0.0,0.0,...,48.0,48.0,48.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
480291914061,1459.0,798.0,526.0,438.0,88.0,31.0,70.0,32.0,38.0,101.0,...,661.0,328.0,328.0,0.0,124.0,38.0,11.0,94.0,66.0,0.0

In [36]:
def wrangle_acs5(src):
    df12 = pd.read_json('../resource_files/census_data/acs5_B24080_SexByWorkerClass.json')
    df12.columns = df12.iloc[0]
    df12 = df12[1:]
    df12['block_group'] = df12.state.map(str) + df12.county.map(str) + df12.tract.map(str) + df12['block group'].map(str)
    df12=df12.drop(columns=['state','county','tract','block group']).set_index('block_group').astype('float')
    return df12

In [37]:
df12 = wrangle_acs5('../resource_files/census_data/acs5_B24080_SexByWorkerClass.json')
df12.head()

,B24080_001E,B24080_002E,B24080_003E,B24080_004E,B24080_005E,B24080_006E,B24080_007E,B24080_008E,B24080_009E,B24080_010E,...,B24080_012E,B24080_013E,B24080_014E,B24080_015E,B24080_016E,B24080_017E,B24080_018E,B24080_019E,B24080_020E,B24080_021E
block_group,,,,,,,,,,,,,,,,,,,,,
480291805031,366.0,186.0,113.0,113.0,0.0,22.0,11.0,0.0,40.0,0.0,...,180.0,142.0,142.0,0.0,2.0,0.0,36.0,0.0,0.0,0.0
480291805032,809.0,362.0,302.0,302.0,0.0,18.0,35.0,0.0,0.0,7.0,...,447.0,354.0,354.0,0.0,62.0,9.0,22.0,0.0,0.0,0.0
480291704013,416.0,141.0,126.0,126.0,0.0,15.0,0.0,0.0,0.0,0.0,...,275.0,255.0,255.0,0.0,0.0,8.0,12.0,0.0,0.0,0.0
480291704012,140.0,92.0,67.0,67.0,0.0,17.0,8.0,0.0,0.0,0.0,...,48.0,48.0,48.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
480291914061,1459.0,798.0,526.0,438.0,88.0,31.0,70.0,32.0,38.0,101.0,...,661.0,328.0,328.0,0.0,124.0,38.0,11.0,94.0,66.0,0.0

In [38]:
df13 = pd.read_csv('../resource_files/census_data/acs5_B01001_SexByAge.csv').set_index('block_group')

In [39]:
df13.head()

,B01001_001E,B01001_002E,B01001_026E,B01001_001E_WA,B01001_002E_WA,B01001_026E_WA,B01001_001E_NWA,B01001_002E_NWA,B01001_026E_NWA
block_group,,,,,,,,,
480291805031,659.0,417.0,242.0,454.0,279.0,175.0,205.0,138.0,67.0
480291805032,1942.0,806.0,1136.0,1319.0,553.0,766.0,623.0,253.0,370.0
480291704013,1676.0,663.0,1013.0,838.0,327.0,511.0,838.0,336.0,502.0
480291704012,730.0,384.0,346.0,306.0,123.0,183.0,424.0,261.0,163.0
480291914061,2612.0,1229.0,1383.0,1546.0,701.0,845.0,1066.0,528.0,538.0

In [40]:
df_master = pd.concat([df, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13])

In [41]:
pd.set_option('display.max_columns', None)

In [42]:
df_master.head()

,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B02001_009E,B02001_010E,B19051_001E,B19051_002E,B19051_003E,B19052_001E,B19052_002E,B19052_003E,B19055_001E,B19055_002E,B19055_003E,B19056_001E,B19056_002E,B19056_003E,B19057_001E,B19057_002E,B19057_003E,B19058_001E,B19058_002E,B19058_003E,B19059_001E,B19059_002E,B19059_003E,B08134_001E,B08134_002E,B08134_003E,B08134_004E,B08134_005E,B08134_006E,B08134_007E,B08134_008E,B08134_009E,B08134_010E,B08134_011E,B08134_012E,B08134_013E,B08134_014E,B08134_015E,B08134_016E,B08134_017E,B08134_018E,B08134_019E,B08134_020E,B08134_071E,B08134_072E,B08134_073E,B08134_074E,B08134_075E,B08134_076E,B08134_077E,B08134_078E,B08134_079E,B08301_001E,B08301_002E,B08301_003E,B08301_004E,B08301_011E,B08301_021E,B08302_001E,B08302_002E,B08302_003E,B08302_004E,B08302_005E,B08302_006E,B08302_007E,B08302_008E,B08302_009E,B08302_010E,B08302_011E,B08302_012E,B08302_013E,B08302_014E,B08302_015E,B08303_001E,B08303_002E,B08303_003E,B08303_004E,B08303_005E,B08303_006E,B08303_007E,B08303_008E,B08303_009E,B08303_010E,B08303_011E,B08303_012E,B08303_013E,B19001_001E,B19001_002E,B19001_003E,B19001_004E,B19001_005E,B19001_006E,B19001_007E,B19001_008E,B19001_009E,B19001_010E,B19001_011E,B19001_012E,B19001_013E,B19001_014E,B19001_015E,B19001_016E,B19001_017E,B19301_001E,B19301A_001E,B19301B_001E,B19301C_001E,B19301D_001E,B19301E_001E,B19301F_001E,B19301G_001E,B19301H_001E,B19301I_001E,B24080_001E,B24080_002E,B24080_003E,B24080_004E,B24080_005E,B24080_006E,B24080_007E,B24080_008E,B24080_009E,B24080_010E,B24080_011E,B24080_012E,B24080_013E,B24080_014E,B24080_015E,B24080_016E,B24080_017E,B24080_018E,B24080_019E,B24080_020E,B24080_021E,B01001_001E,B01001_002E,B01001_026E,B01001_001E_WA,B01001_002E_WA,B01001_026E_WA,B01001_001E_NWA,B01001_002E_NWA,B01001_026E_NWA
block_group,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
480291805031,659.0,631.0,0.0,0.0,0.0,0.0,28.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
480291805032,1942.0,1694.0,59.0,0.0,0.0,0.0,115.0,74.0,35.0,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
480291704013,1676.0,1265.0,210.0,0.0,0.0,0.0,142.0,59.0,59.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
480291704012,730.0,600.0,32.0,0.0,0.0,0.0,57.0,41.0,41.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
480291914061,2612.0,2308.0,21.0,0.0,91.0,0.0,21.0,171.0,18.0,153.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN