In [1]:
import pandas as pd
import numpy as np

In [2]:
src = '../resource_files/census_data/acs5_B02001_Race.json'

In [3]:
def wrangle_acs5(src):
    df = pd.read_json(src)
    df.columns = df.iloc[0]
    df = df[1:]
    df['block_group'] = df.state.map(str) + df.county.map(str) + df.tract.map(str) + df['block group'].map(str)
    df=df.drop(columns=['state','county','tract','block group']).set_index('block_group')
    return df

In [4]:
df = wrangle_acs5(src)

In [5]:
df.head()

,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B02001_009E,B02001_010E
block_group,,,,,,,,,,
480291805031,659,631,0,0,0,0,28,0,0,0
480291805032,1942,1694,59,0,0,0,115,74,35,39
480291704013,1676,1265,210,0,0,0,142,59,59,0
480291704012,730,600,32,0,0,0,57,41,41,0
480291914061,2612,2308,21,0,91,0,21,171,18,153

In [6]:
df.dtypes

0
B02001_001E    object
B02001_002E    object
B02001_003E    object
B02001_004E    object
B02001_005E    object
B02001_006E    object
B02001_007E    object
B02001_008E    object
B02001_009E    object
B02001_010E    object
dtype: object