In [1]:
import pandas as pd
import numpy as np

In [2]:
src = '../resource_files/census_data/acs5_B01001_SexByAge.json'
dest = '../resource_files/census_data/acs5_B01001_SexByAge.csv'

In [3]:
def wrangle_acs5(src):
    df = pd.read_json(src)
    df.columns = df.iloc[0]
    df = df[1:]
    df['block_group'] = df.state.map(str) + df.county.map(str) + df.tract.map(str) + df['block group'].map(str)
    df=df.drop(columns=['state','county','tract','block group']).set_index('block_group').astype('float')
    return df

In [4]:
df = wrangle_acs5('../resource_files/census_data/acs5_B01001_SexByAge.json')

In [5]:
df.head()

,B01001_001E,B01001_002E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,...,B01001_035E,B01001_036E,B01001_037E,B01001_038E,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E,B01001_044E
block_group,,,,,,,,,,,,,,,,,,,,,
480291805031,659.0,417.0,23.0,0.0,0.0,0.0,61.0,34.0,0.0,42.0,...,26.0,15.0,0.0,14.0,49.0,27.0,28.0,5.0,11.0,0.0
480291805032,1942.0,806.0,33.0,0.0,54.0,57.0,58.0,70.0,25.0,113.0,...,100.0,56.0,72.0,72.0,131.0,70.0,54.0,0.0,25.0,6.0
480291704013,1676.0,663.0,24.0,0.0,0.0,64.0,23.0,12.0,21.0,37.0,...,49.0,50.0,55.0,50.0,59.0,28.0,92.0,0.0,0.0,19.0
480291704012,730.0,384.0,0.0,0.0,0.0,9.0,28.0,0.0,26.0,7.0,...,42.0,58.0,9.0,0.0,18.0,13.0,6.0,14.0,15.0,10.0
480291914061,2612.0,1229.0,17.0,0.0,0.0,39.0,17.0,92.0,145.0,53.0,...,35.0,203.0,82.0,79.0,121.0,92.0,108.0,13.0,70.0,21.0

In [6]:
df.columns

Index(['B01001_001E', 'B01001_002E', 'B01001_007E', 'B01001_008E',
       'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E',
       'B01001_013E', 'B01001_014E', 'B01001_015E', 'B01001_016E',
       'B01001_017E', 'B01001_018E', 'B01001_019E', 'B01001_026E',
       'B01001_031E', 'B01001_032E', 'B01001_033E', 'B01001_034E',
       'B01001_035E', 'B01001_036E', 'B01001_037E', 'B01001_038E',
       'B01001_039E', 'B01001_040E', 'B01001_041E', 'B01001_042E',
       'B01001_043E', 'B01001_044E'],
      dtype='object', name=0)

In [7]:
df.describe()

,B01001_001E,B01001_002E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,...,B01001_035E,B01001_036E,B01001_037E,B01001_038E,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E,B01001_044E
count,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,...,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000
mean,1776.628229,876.411439,27.691882,14.393911,14.196494,40.984317,74.167897,69.639299,61.151292,56.938192,...,70.420664,67.467712,62.415129,57.559041,56.000923,54.717712,52.031365,19.641144,26.867159,15.990775
std,1178.486503,599.663492,65.757881,34.636762,32.631935,53.718416,83.532962,75.548300,65.219533,58.914612,...,79.685637,68.604302,64.300995,58.467543,53.777379,50.012940,41.476233,22.597759,26.645009,19.385336
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1026.750000,498.750000,0.000000,0.000000,0.000000,0.000000,21.750000,19.000000,20.000000,17.000000,...,21.000000,22.000000,19.000000,17.000000,20.000000,19.000000,20.000000,0.000000,8.000000,0.000000
50%,1456.500000,705.500000,14.000000,0.000000,0.000000,25.000000,52.000000,49.000000,45.000000,41.000000,...,49.000000,49.000000,46.000000,42.000000,43.000000,42.000000,43.500000,13.000000,19.000000,11.000000
75%,2199.000000,1078.250000,35.000000,19.000000,18.250000,58.000000,101.000000,94.000000,82.000000,81.000000,...,98.000000,92.000000,84.000000,80.000000,76.000000,76.000000,74.000000,29.000000,39.000000,24.000000
max,10997.000000,5597.000000,1454.000000,685.000000,561.000000,616.000000,899.000000,559.000000,739.000000,505.000000,...,785.000000,548.000000,608.000000,512.000000,594.000000,370.000000,276.000000,133.000000,175.000000,133.000000

In [8]:
working_age_male = [
    'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 
    'B01001_011E', 'B01001_012E', 'B01001_013E', 'B01001_014E', 
    'B01001_015E', 'B01001_016E', 'B01001_017E', 'B01001_018E', 
    'B01001_019E', 
]

working_age_female = [
    'B01001_031E', 'B01001_032E', 'B01001_033E', 'B01001_034E',
    'B01001_035E', 'B01001_036E', 'B01001_037E', 'B01001_038E',
    'B01001_039E', 'B01001_040E', 'B01001_041E', 'B01001_042E',
    'B01001_043E'
]

In [9]:
df['B01001_002E_WA']=df[working_age_male].sum(axis=1)

In [10]:
df['B01001_026E_WA']=df[working_age_female].sum(axis=1)

In [11]:
df['B01001_002E_NWA']=df['B01001_002E']-df['B01001_002E_WA']

In [12]:
df['B01001_026E_NWA']=df['B01001_026E']-df['B01001_026E_WA']

In [13]:
df['B01001_001E_WA'] = df['B01001_002E_WA'] + df['B01001_026E_WA']

In [14]:
df['B01001_001E_NWA'] = df['B01001_002E_NWA'] + df['B01001_026E_NWA']

In [15]:
keep_cols = [
    'B01001_001E', 'B01001_002E', 'B01001_026E', 
    'B01001_001E_WA', 'B01001_002E_WA', 'B01001_026E_WA', 
    'B01001_001E_NWA', 'B01001_002E_NWA', 'B01001_026E_NWA'
]

In [16]:
df = df[keep_cols]

In [17]:
df

,B01001_001E,B01001_002E,B01001_026E,B01001_001E_WA,B01001_002E_WA,B01001_026E_WA,B01001_001E_NWA,B01001_002E_NWA,B01001_026E_NWA
block_group,,,,,,,,,
480291805031,659.0,417.0,242.0,454.0,279.0,175.0,205.0,138.0,67.0
480291805032,1942.0,806.0,1136.0,1319.0,553.0,766.0,623.0,253.0,370.0
480291704013,1676.0,663.0,1013.0,838.0,327.0,511.0,838.0,336.0,502.0
480291704012,730.0,384.0,346.0,306.0,123.0,183.0,424.0,261.0,163.0
480291914061,2612.0,1229.0,1383.0,1546.0,701.0,845.0,1066.0,528.0,538.0
...,...,...,...,...,...,...,...,...,...
480291919002,1220.0,636.0,584.0,894.0,523.0,371.0,326.0,113.0,213.0
480291919005,1076.0,407.0,669.0,739.0,277.0,462.0,337.0,130.0,207.0
480291920003,1348.0,840.0,508.0,1107.0,680.0,427.0,241.0,160.0,81.0
480291921001,1085.0,523.0,562.0,791.0,405.0,386.0,294.0,118.0,176.0
480291922002,976.0,437.0,539.0,674.0,304.0,370.0,302.0,133.0,169.0

In [18]:
df.describe()

,B01001_001E,B01001_002E,B01001_026E,B01001_001E_WA,B01001_002E_WA,B01001_026E_WA,B01001_001E_NWA,B01001_002E_NWA,B01001_026E_NWA
count,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000,1084.000000
mean,1776.628229,876.411439,900.216790,1109.719557,552.991697,556.727860,666.908672,323.419742,343.488930
std,1178.486503,599.663492,601.616451,760.708447,404.544785,380.092787,467.051390,234.488587,248.994701
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1026.750000,498.750000,509.000000,611.750000,297.750000,302.000000,366.750000,174.000000,185.000000
50%,1456.500000,705.500000,738.000000,900.500000,443.000000,450.000000,550.000000,265.000000,283.000000
75%,2199.000000,1078.250000,1124.000000,1373.000000,672.250000,712.250000,814.250000,408.000000,418.000000
max,10997.000000,5597.000000,5400.000000,6566.000000,3888.000000,2899.000000,4431.000000,2034.000000,2501.000000

In [19]:
df.to_csv(dest, header=True, index=True, index_label='block_group')

In [23]:
rdf=pd.read_csv('../resource_files/census_data/acs5_B01001_SexByAge.csv').set_index('block_group')

In [24]:
rdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 480291805031 to 480291922002
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   B01001_001E      1084 non-null   float64
 1   B01001_002E      1084 non-null   float64
 2   B01001_026E      1084 non-null   float64
 3   B01001_001E_WA   1084 non-null   float64
 4   B01001_002E_WA   1084 non-null   float64
 5   B01001_026E_WA   1084 non-null   float64
 6   B01001_001E_NWA  1084 non-null   float64
 7   B01001_002E_NWA  1084 non-null   float64
 8   B01001_026E_NWA  1084 non-null   float64
dtypes: float64(9)
memory usage: 84.7 KB