In [2]:
import pandas as pd

In [10]:
df1 = pd.read_('BusFareBoxActivity_2020.csv')

ParserError: Error tokenizing data. C error: Expected 2 fields in line 8, saw 4

In [3]:
df = pd.read_excel('BusFareBoxActivity_2020.csv')

In [4]:
df2019 = df[df.ServiceDateTime >= '2019-01-01']

In [5]:
df2019.shape

(23039, 11)

In [9]:
df2019[df2019.RouteName.isnull()]

,ServiceDateTime,Route,RouteName,CurrentRevenue,Ridership,TokenCount,TicketCount,PassCount,BillCount,UnclassifiedRevenue,DumpCount
67123,2019-01-07,1,NaN,0.11,0,0,0,0,0,0.11,1
67176,2019-01-07,103,NaN,1046.17,3297,1,0,1905,584,57.10,274
67177,2019-01-07,276,NaN,9.77,25,0,0,11,7,0.80,4
67179,2019-01-07,501,NaN,238.94,805,0,0,424,141,18.66,65
67219,2019-01-07,672,NaN,91.18,219,0,0,111,48,6.25,21
...,...,...,...,...,...,...,...,...,...,...,...
89617,2020-01-09,268,NaN,2.65,7,0,0,4,1,0.00,0
89618,2020-01-09,276,NaN,0.00,9,0,0,6,0,0.00,0
89619,2020-01-09,277,NaN,1.35,7,0,0,4,1,0.05,1
89620,2020-01-09,288,NaN,1.35,7,0,0,3,1,0.05,1
89621,2020-01-09,296,NaN,1.00,11,0,0,6,1,0.00,0